In [1]:
from bs4 import BeautifulSoup as BS
import requests
import pandas as pd
import re

In [2]:
df = pd.DataFrame()

URLS_1 = ['https://www.exchange-rates.org/converter/usd-eur', 'https://www.exchange-rates.org/converter/eur-usd', 
         'https://www.exchange-rates.org/converter/uah-usd', 'https://www.exchange-rates.org/converter/usd-uah', 
         'https://www.exchange-rates.org/converter/eur-uah', 'https://www.exchange-rates.org/converter/uah-eur']

for URL_1 in URLS_1:
    
    from_cur = URL_1[-7:].split('-')[0].upper()
    to_cur = URL_1[-7:].split('-')[1].upper()
    
    req_1 = requests.get(URL_1)
    soup = BS(req_1.text, "html.parser")

    orig_path = "https://www.exchange-rates.org"

    urls = [orig_path + i[:-6] for i in re.findall(r'/\S*\d', str(soup.find_all('ul', class_='rates-by-year')[0]))]

    df_for_one = pd.DataFrame()

    for url in urls:
        req_2 = requests.get(url)
        soup_2 = BS(req_2.text, "html.parser")
        dates = [pd.to_datetime(date.text) for date in soup_2.find_all('a', class_='n')]
        values = [float(val.text.split()[-2]) for val in soup_2.find_all('span', class_='n')]
        _ = pd.DataFrame(values, index=dates, columns=[f'1_{from_cur}_to_{to_cur}'])
        df_for_one = pd.concat([df_for_one,_], axis=0)
    
    df_for_one = df_for_one.sort_index()
    display(df_for_one.tail())
        
    df = pd.concat([df, df_for_one], axis=1)

            1_USD_to_EUR
2024-05-23        0.9248
2024-05-24        0.9214
2024-05-27        0.9209
2024-05-28        0.9211
2024-05-29        0.9257

            1_EUR_to_USD
2024-05-23        1.0814
2024-05-24        1.0854
2024-05-27        1.0859
2024-05-28        1.0857
2024-05-29        1.0802

            1_UAH_to_USD
2024-05-23       0.02503
2024-05-24       0.02493
2024-05-27       0.02480
2024-05-28       0.02470
2024-05-29       0.02467

            1_USD_to_UAH
2024-05-23        39.948
2024-05-24        40.108
2024-05-27        40.318
2024-05-28        40.491
2024-05-29        40.533

            1_EUR_to_UAH
2024-05-23        43.198
2024-05-24        43.531
2024-05-27        43.783
2024-05-28        43.961
2024-05-29        43.785

            1_UAH_to_EUR
2024-05-23       0.02315
2024-05-24       0.02297
2024-05-27       0.02284
2024-05-28       0.02275
2024-05-29       0.02284

In [3]:
df = df.dropna().sort_index()
df.index.name = 'date'
df

,1_USD_to_EUR,1_EUR_to_USD,1_UAH_to_USD,1_USD_to_UAH,1_EUR_to_UAH,1_UAH_to_EUR
date,,,,,,
2015-01-01,0.8265,1.2098,0.06322,15.819,19.138,0.05225
2015-01-02,0.8324,1.2014,0.06322,15.819,19.004,0.05262
2015-01-03,0.8335,1.1997,0.06322,15.819,18.978,0.05269
2015-01-04,0.8370,1.1946,0.06265,15.962,18.900,0.05243
2015-01-05,0.8391,1.1918,0.06322,15.818,18.852,0.05305
...,...,...,...,...,...,...
2024-05-23,0.9248,1.0814,0.02503,39.948,43.198,0.02315
2024-05-24,0.9214,1.0854,0.02493,40.108,43.531,0.02297
2024-05-27,0.9209,1.0859,0.02480,40.318,43.783,0.02284
2024-05-28,0.9211,1.0857,0.02470,40.491,43.961,0.02275
2024-05-29,0.9257,1.0802,0.02467,40.533,43.785,0.02284

In [4]:
df.to_csv('/diploma_info/datalake/currency_rates.csv')