In [1]:
from bs4 import BeautifulSoup as BS
import requests
import pandas as pd
import re

In [2]:
df = pd.DataFrame()

URLS_1 = ['https://www.exchange-rates.org/converter/usd-eur', 'https://www.exchange-rates.org/converter/eur-usd', 
         'https://www.exchange-rates.org/converter/uah-usd', 'https://www.exchange-rates.org/converter/usd-uah', 
         'https://www.exchange-rates.org/converter/eur-uah', 'https://www.exchange-rates.org/converter/uah-eur']

for URL_1 in URLS_1:
    
    from_cur = URL_1[-7:].split('-')[0].upper()
    to_cur = URL_1[-7:].split('-')[1].upper()
    
    req_1 = requests.get(URL_1)
    soup = BS(req_1.text, "html.parser")

    orig_path = "https://www.exchange-rates.org"

    urls = [orig_path + i[:-6] for i in re.findall(r'/\S*\d', str(soup.find_all('ul', class_='rates-by-year')[0]))]

    df_for_one = pd.DataFrame()

    for url in urls:
        req_2 = requests.get(url)
        soup_2 = BS(req_2.text, "html.parser")
        dates = [pd.to_datetime(date.text) for date in soup_2.find_all('a', class_='n')]
        values = [float(val.text.split()[-2]) for val in soup_2.find_all('span', class_='n')]
        _ = pd.DataFrame(values, index=dates, columns=[f'1_{from_cur}_to_{to_cur}'])
        df_for_one = pd.concat([df_for_one,_], axis=0)
    
    df_for_one = df_for_one.sort_index()
    display(df_for_one.tail())
        
    df = pd.concat([df, df_for_one], axis=1)

            1_USD_to_EUR
2024-04-16        0.9419
2024-04-17        0.9370
2024-04-18        0.9396
2024-04-19        0.9379
2024-04-22        0.9386

            1_EUR_to_USD
2024-04-16        1.0616
2024-04-17        1.0672
2024-04-18        1.0643
2024-04-19        1.0663
2024-04-22        1.0654

            1_UAH_to_USD
2024-04-16       0.02528
2024-04-17       0.02531
2024-04-18       0.02523
2024-04-19       0.02514
2024-04-22       0.02513

            1_USD_to_UAH
2024-04-16        39.558
2024-04-17        39.510
2024-04-18        39.635
2024-04-19        39.784
2024-04-22        39.795

            1_EUR_to_UAH
2024-04-16        41.997
2024-04-17        42.166
2024-04-18        42.185
2024-04-19        42.420
2024-04-22        42.396

            1_UAH_to_EUR
2024-04-16       0.02381
2024-04-17       0.02372
2024-04-18       0.02371
2024-04-19       0.02357
2024-04-22       0.02359

In [3]:
df = df.dropna().sort_index()
df

,1_USD_to_EUR,1_EUR_to_USD,1_UAH_to_USD,1_USD_to_UAH,1_EUR_to_UAH,1_UAH_to_EUR
2015-01-01,0.8265,1.2098,0.06322,15.819,19.138,0.05225
2015-01-02,0.8324,1.2014,0.06322,15.819,19.004,0.05262
2015-01-03,0.8335,1.1997,0.06322,15.819,18.978,0.05269
2015-01-04,0.8370,1.1946,0.06265,15.962,18.900,0.05243
2015-01-05,0.8391,1.1918,0.06322,15.818,18.852,0.05305
...,...,...,...,...,...,...
2024-04-16,0.9419,1.0616,0.02528,39.558,41.997,0.02381
2024-04-17,0.9370,1.0672,0.02531,39.510,42.166,0.02372
2024-04-18,0.9396,1.0643,0.02523,39.635,42.185,0.02371
2024-04-19,0.9379,1.0663,0.02514,39.784,42.420,0.02357
2024-04-22,0.9386,1.0654,0.02513,39.795,42.396,0.02359

In [4]:
# df.to_csv('/diploma_info/datalake/currency_rates.csv')